#mic {
    width:100%;
    z-index: 2;
}
.main-wrapper {
    height:100vh;
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
}
.main-row {
    margin-top:22%;
}
#waves {
    width:4%;
    /* padding-left:40%; */
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
}
.wrapper {
    width:10%;
}
#emoji {
    font-size: 13.6rem;
}
.chatbox {
    max-width: 100%;
    perspective:35em;
}
#chatbox {
    padding-top:25%;
    margin-bottom: 10%;
}
.user-message {
    width: 75%;
    margin-left:auto;
    /* background-color: #D5FFF7; */
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    color: white;
    font-weight: bold;
    font-size:20px;
    transform: rotateY(-30deg) scale(1.02);
    border: none;
}
.chatbot-message {
    width:75%;
    margin-right:auto;
    /* background-color: #DBB3FD; */
    background: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
    background-color: -webkit-linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    /* border-radius: 4%; */
    border: none;
    color: white;
    font-weight: bold;
    transform: rotateY(30deg) scale(1.01);
    font-size: 20px;
}
.input-form {
    margin-bottom: 8%;
}
